
font_family()
    font-family Impact, Charcoal, sans-serif 

round_corners()
    border-radius 10px

bubbled()
    background LightBlue
    padding 1em
    round_corners()

left_right_padding()
    padding-left 0.3em
    padding-right 0.3em

thin_space()
    content "\2009"

.ask, .answer, .show
    font_family()
    font-size 2em
    padding 1em

.fuffle
    font_family()
    color Gray
    bubbled()
    margin-right 1em
    .initial
        display inline-block
        color Black
        &:after
            thin_space()

.bubbled
    bubbled()
    
.content
    width 21em
    
.question
    text-align left
    
.answers-container
    height 12.5em
    overflow-y auto
.one
    font_family()
    display inline-block
    background White
    left_right_padding()    
    round_corners()
    border 3px solid LightBlue
        
input
    display block
    font_family()
    font-size 1em 
    background GhostWhite
    
input[type=text]
    width 20em
    left_right_padding()    

input[type=button]
    round_corners()
    cursor pointer
    &:disabled
        color LightGray
        cursor default

tr
    vertical-align top