
font_family()
    font-family Impact, Charcoal, sans-serif 

round_corners()
    border-radius 10px

left_right_padding()
    padding-left 0.3em
    padding-right 0.3em

thin_space()
    content "\2009"

bubbled()
    background LightBlue
    padding 1em
    round_corners()
.bubbled
    bubbled()

.ask, .answer, .show
    font_family()
    font-size 2em
    padding 1em

.fuffle
    font_family()
    color Gray
    bubbled()
    margin-right 1em
    .initial
        display inline-block
        color Black
        &:after
            thin_space()
.content
    width 20em
    
.stats
    margin-left 1em
.stat
    text-align right
    &:after
        content "="
        
.answers-container
    height 12.5em
    overflow-y auto
.one
    font_family()
    display inline-block
    background White
    left_right_padding()    
    round_corners()
    border 3px solid LightBlue
        
input[type=text]
    display block
    font_family()
    font-size 1em 
    background GhostWhite
    width 20em
    left_right_padding()    

tr
    vertical-align top