
font_family()
    font-family Impact, Charcoal, sans-serif 

bubbled()
    background LightBlue
    padding 1em
    border-radius 10px

thin_space()
    content "\2009"

.ask, .answer, .show
    font_family()
    padding 3em

.bubbled
    bubbled()
    
.fuffle
    font_family()
    font-size 2em    
    color Gray
    bubbled()
    margin-right 1em
    .initial
        color Black
        &:after
            thin_space()
    
.question
    font-size 2.5em
    text-align left
.stats
    font-size 1.2em
    
.one-answer
    display inline-block
    font_family()
    font-size 2em
    background White
    padding-left 0.25em
    padding-right 0.25em
    text-align center
    border 3px solid LightBlue
    border-radius 10px        
    
textarea
    display block
    font_family()
    font-size 2em 
    text-align left
    width 15em
    height 1.2em
    
input[type=button]
    font_family()
    background GhostWhite
    border-radius 10px
    font-size 1.5em 
    padding 0.25em
    &:disabled
        color DarkGray
        cursor default
        font-style italic

