
.home
    background Moccasin
    padding 1em
    .question #id
        font-size 2.5em
        width 5em
        text-align center
    input[type=button] 
        background GhostWhite
        border-radius 10px
        font-size 2.5em 
        padding 0.25em
        color Black
        cursor pointer
        font-style normal        
        &:disabled
            color DarkGray
            cursor default
            font-style italic
    textarea
        font-size 2.5em 
        width 15em
        height 1.5em

        