
.nib
    background Moccasin
    padding 1em
    table
        margin 0 auto
        border-spacing 1px
    td
        padding 1px
    input[type=button]
        background GhostWhite
        border-radius 10px
        font-size 1.5em 
        padding 0.25em
        color Black
        cursor pointer
        font-style normal        
        &:disabled
            color DarkGray
            cursor default
            font-style italic
    textarea
        padding-right 1em
        text-align right
        font-size 2em 
        width 15em
        height 1.2em
    .count-info
        font-size 1.5em
        height 2em
