
.nib
    input[type=text]
        text-align: center;
        font-size 2.5em
        padding 0.5em            
    input[type=button] 
        background Moccasin
        border-radius 10px
        color Black
        cursor pointer
        font-size 2.5em 
        padding 0.5em        
        &:disabled
            color DarkGray
            cursor default
            font-style italic
    #size
        width: 3em;        
    #id
        width: 7em;        
    .arrow 
        color Gray
        font-size 2em
        margin 2px
