
<template name="home">
  <div class="home">
    <table align="center" cellspacing="0" cellpadding="0">
      <tr align="center">
        <td>
          <input type="button" value="question" id="question">
        </td>          
      </tr>
      <tr align="center">
        <td>{{> downArrow}}</td>
      </tr>
      <tr align="center">
        <td><input type="text" id="qid" value="{{qid}}"></td>
      </tr>
      <tr align="center">
        <td><input type="text" id="qtext" value="{{qtext}}" readonly></td>
      </tr>      
      <tr align="center">
        <td>{{> upArrow}}</td>
      </tr>
      <tr align="center">
        <td>
          {{#if validQid }}
            <input type="button" value="answer" id="answer">
          {{else}}
            <input type="button" value="answer" id="answer" disabled="disabled">
          {{/if}}
        </td>
      </tr>
      <!-- TODO: number of answers so far here -->
      <tr align="center">
        <td>
          <input type="button" value="reveal" id="reveal" disabled="disabled">
        </td>
      </tr>
    </table>
  </div>
</template>

<template name="downArrow">
  <div class="arrow">&darr;</div>
</template>

<template name="upArrow">
  <div class="arrow">&uarr;</div>
</template>
