
.nib
    input[type=text]
        text-align center
        font-size 2.5em
    input[type=button] 
        background Moccasin
        border-radius 10px
        font-size 2.5em 
        padding 0.25em
        color Black
        cursor pointer
        font-style normal        
        &:disabled
            color DarkGray
            cursor default
            font-style italic
    #size
        width: 3em;        
    #pid
        width: 6em;        
    .arrow 
        color Gray
        font-size 2em
        margin 2px
